@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e3fdfd;
    --foreground: #000000;
    --card: #cbf1f5;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #191919;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #191919;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #71C9CE;
    --accent-foreground: #A6E3E9;
    --destructive: #d32f2f;
    --destructive-foreground: #fafafa;
    --border: #71c9ce;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --radius: 0.5rem;
    --chart-1: #e65c30;
    --chart-2: #199473;
    --chart-3: #1b485c;
    --chart-4: #f5b700;
    --chart-5: #ff9900;
  }

  .dark {
    --background: #1B262C;
    --foreground: #ffffff;
    --card: #0F4C75;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #191919;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a2a2a2;
    --accent: #262626;
    --accent-foreground: #0F4C75;
    --destructive: #8f1f1f;
    --destructive-foreground: #fafafa;
    --border: #3282B8;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #3366cc;
    --chart-2: #33cc99;
    --chart-3: #ff9933;
    --chart-4: #9966cc;
    --chart-5: #ff3366;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
